@import "tailwindcss";

@layer base {
  body {
    font-family: var(--font-open-sans), sans-serif;
    background-color: #f2f7ff;
    color: #374151; /* gray-700 */
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-montserrat), sans-serif;
    font-weight: 700;
  }
}

@keyframes shake {
  0%, 100% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  75% { transform: translateX(5px); }
}

.animate-shake {
  animation: shake 0.2s ease-in-out 0s 2;
}
